.slider{
    margin-top: 17px;
    &__container{
        width: 1100px;
        height: 441px;
        border-radius: 30px;
        background: #FFE2B5;
    }
    &__block-left{
        padding: 44px 0px 0px 73px;
        width: 490px;
    }
    &__title{
        font-size: 52px;
        line-height: 78px;
        margin-bottom: 7px;
    }
    &__subtitle{
        font-size: 20px;
    }
    &__button{
        margin-top: 27px;
        font-size: 20px;
        color:#D0AD37;
        border-radius: 30px;
        background-color: #000;
        display: flex;
        width: 155px;
        height: 60px;
        justify-content: center;
        gap: 13px;
        align-items: center;
    }
    &__block-center{
        margin-left: 328px;
        z-index: 9999;
        position:absolute;
    }
    &__right-img{
        width: 505px;
        height: 420px;
        position: absolute;
        top: 131px;
        left: 985px;
    }
    &__right-text{
        font-size: 307px;
        font-weight: 700;
        color: #F5CF94;
        position: absolute;
        top: 185px;
        left: 965px;
    }
    
}